/* General Styles */
body {
    font-family: 'Open Sans', Arial, serif;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
    overflow-x: hidden; /* Nascondi overflow orizzontale del body */
}

.quantity-input {
    width: 60px;
}

.quantity-input input[type="text"] {
    width: 100%;
}

.container {
    max-width: 100%;
    margin: 8px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Aggiunto per consentire lo scroll orizzontale */
}

.catalogo {
    text-align: left;
    margin: 0 0 20px 20px;
    padding: 10px 20px;
    background-color: #008080;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
/* Bottone di ritorno con animazione */
.btn {
    border: none;
    font-family: inherit;
    font-size: 14px;
    cursor: pointer;
    padding: 10px 40px;
    display: inline-block;
    letter-spacing: 1px;
    outline: none;
    position: relative;
    overflow: hidden; /* Assicura che il contenuto fuori dal pulsante sia nascosto */
    transition: all 0.3s;
}

.btn-4 {
    position: relative;
    border-radius: 10px;
    background-color: #008080;
    color: white;
    transition: color 0.3s, border-color 0.3s;
}

.btn-4:active {
    color: #005859;
}

.btn-4::after {
    content: '\2190'; /* Freccia sinistra */
    position: absolute;
    top: 100%; /* Posiziona la freccia fuori dal pulsante */
    left: 50%;
    transform: translateX(-50%);
    font-size: xx-large;
    color: white;
    transition: top 0.3s ease-in-out;
    opacity: 0; /* Nasconde la freccia inizialmente */
}

.btn-4:hover {
    color: transparent; /* Nasconde il testo durante l'hover */
}

.btn-4:hover::after {
    top: 0%; /* Porta la freccia al centro del pulsante */
    opacity: 1; /* Mostra la freccia durante l'hover */
}

.btn-4 span {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.btn-4:hover span {
    transform: translateY(-100%); /* Sposta il testo verso l'alto */
}

.prodotti_carrello {
    text-align: center;
    margin: 0;
    padding: 20px 0;
}

.success-message {
    color: green;
    text-align: center;
}

.tabella {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    table-layout: fixed;
}

.tabella th, .tabella td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

.tabella th {
    background-color: #28180b;
    color: white;
}

.sconto-prezzo-container {
    display: flex;
    align-items: center;
}

.sconto-visible {
    display: inline-block;
    background-color: #e74c3c;
    color: #fff;
    border-radius: 20%;
    padding: 5px 10px;
    font-size: 0.9em;
    font-weight: bold;
    margin-right: 10px;
    position: relative;
}

.prezzo-unitario {
    text-decoration: line-through;
    color: #888;
    font-size: 1em;
    margin-right: 10px;
    display: inline-block;
}

.prezzo-scontato {
    color: #e74c3c;
    font-weight: bold;
    font-size: 1em;
}

.tabella td img {
    width: 100px;
    height: auto;
    border-radius: 10px;
    max-width: 100%; /* Assicurati che le immagini non superino mai la larghezza del contenitore */
}

.quantity-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    width: 100%; /* Assicurati che il form occupi il 100% della larghezza disponibile */
}

.quantity-error {
    margin-top: 5px;
}

#spesa_totale {
    text-align: right;
    margin: 20px 20px 0 0;
}

.acquista-form {
    text-align: right;
    margin: 20px 20px 0 0;
}

.acquista-button {
    padding: 10px 20px;
    background-color: #008080;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.acquista-button:hover {
    background-color: #005859;
}

.action-button {
    display: inline-block;
    margin: 5px 0;
    padding: 5px 10px;
    background-color: #bb4561;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.action-button:hover{
    background-color: #a92142;
}

.quantity-form button {
    padding: 8px 12px;
    background-color: #008080;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 0;
}

.quantity-form button:hover {
    background-color: #005859;
}

.no_product {
    text-align: center;
    margin: 50px;
}

.no_product .no-product-image {
    width: 150px;
    margin-bottom: 20px;
}

.footer {
    background-color: #333;
    color: #fff;
    width: 100%;
    margin-top: auto;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}

.error-message {
    color: #bb4561;
    display: none;
}
.error-message :hover{
    color: #a92142;
    display: none;
}

/* Media Queries */

/* Tablet */
@media (max-width: 768px) {
    .tabella th, .tabella td {
        padding: 8px;
    }

    .spesa_totale, .acquista-form {
        text-align: center;
        margin: 20px 0;
    }

    .quantity-input {
        width: 50px;
    }

    .quantity-form {
        flex-direction: column;
    }

    .quantity-form input[type="text"] {
        width: 100%;
        margin: 5px 0;
    }
}
/* Media Queries per dispositivi mobili */
@media (max-width: 610px) {
    .tabella table,
    .tabella thead,
    .tabella tbody,
    .tabella th,
    .tabella td,
    .tabella tr {
        display: block;
    }

    .tabella thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .tabella tr {
        border: 1px solid #ccc;
        margin-bottom: 10px;
    }

    .quantity-input {
        width: 20px;
    }

    .tabella td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .tabella td:before {
        position: absolute;
        top: 50%;
        left: 10px;
        width: calc(50% - 20px);
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
        transform: translateY(-50%);
    }

    .tabella td:nth-of-type(1):before { content: "Nome"; }
    .tabella td:nth-of-type(2):before { content: "Immagine"; }
    .tabella td:nth-of-type(3):before { content: "Prezzo"; }
    .tabella td:nth-of-type(4):before { content: "Quantità"; }
    .tabella td:nth-of-type(5):before { content: "Prezzo Unitario"; }
    .tabella td:nth-of-type(6):before { content: "Azioni"; }

}
