body {
    font-family: 'Open Sans', Arial, serif;
    background-color: #f5f5f5;
    /* Mantiene il layout flessibile per tutta la pagina */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /*flex: 1;
    padding: 20px;*/
}

.catalogo {
    text-align: left;
    margin: 0 0 20px 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.prodotti_carrello {
    text-align: center;
    margin: 0;
    padding: 20px 0;
}

.success-message {
    color: green;
    text-align: center;
}

.tabella {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tabella th, .tabella td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.tabella th {
    background-color: #4CAF50;
    color: white;
}
.sconto-prezzo-container {
    display: flex;
    align-items: center;
}
.sconto-visible {
    display: inline-block;
    background-color: #e74c3c;
    color: #fff;
    border-radius: 20%;
    padding: 5px 10px;
    font-size: 0.9em;
    font-weight: bold;
    margin-right: 10px;
    position: relative;
}
.prezzo-unitario {
    text-decoration: line-through;
    color: #888;
    font-size: 1em;
    margin-right: 10px;
    display: inline-block;
}
.prezzo-scontato {
    color: #e74c3c;
    font-weight: bold;
    font-size: 1em;
}
.tabella td img {
    width: 100px;
    height: auto;
    border-radius: 10px;
}

.quantity-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0; /* Assicurati che questa regola sia definita una sola volta */
}



.quantity-error {
    margin-top: 5px; /* Aggiungi spazio sopra il messaggio di errore */
}

#spesa_totale {
    text-align: right;
    margin: 20px 20px 0 0;
}

.acquista-form {
    text-align: right;
    margin: 20px 20px 0 0;
}

.acquista-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.acquista-button:hover {
    background-color: #45a049;
}

.action-button {
    display: block;
    margin: 5px 0;
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.decrement-button {
    background-color: #ff9800;
}

.increment-button {
    background-color: #4CAF50;
}

.action-button:hover {
    opacity: 0.8;
}

.quantity-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.quantity-form input[type="text"] {
    width: 40px;
    padding: 8px;
    margin: 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    background-color: #f5f5f5;
}

.quantity-form input[type="text"]:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.quantity-form button {
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 0;
}

.quantity-form button:hover {
    background-color: #45a049;
    opacity: 1.9;
}

.no_product {
    text-align: center;
    margin: 50px;
}

.no_product .no-product-image {
    width: 150px;
    margin-bottom: 20px;
}

.footer {
    background-color: #333;
    color: #fff;
    width: 100%;
    margin-top: auto;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}

.error-message {
    color: red;
    display: none;
}

/* Media Queries */

/* Tablet */
@media (max-width: 768px) {
    .tabella th, .tabella td {
        padding: 10px;
    }

    .spesa_totale, .acquista-form {
        text-align: center;
        margin: 20px 0;
    }

    .quantity-form {
        flex-direction: column;
    }

    .quantity-form input[type="text"] {
        width: 100%;
        margin: 5px 0;
    }
}

/* Mobile */
@media (max-width: 480px) {
    .tabella {
        width: 100%;
        margin: 10px 0;
    }

    .tabella th, .tabella td {
        padding: 8px;
        font-size: 14px;
    }

    .tabella td img {
        width: 80px;
    }

    .catalogo, .acquista-button {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
    }

    .quantity-form button {
        width: 100%;
        margin: 5px 0;
    }

    .spesa_totale, .acquista-form {
        text-align: center;
        margin: 20px 0;
    }
}
