body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer {
    background-color: #28180b;
    color: #ffefe5;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto;
    z-index: 2;
}

.footer-content {
    display: flex; /*block*/
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}

.footer-section.contact-info {
    text-align: center;
    margin-bottom: 20px;
}

.footer-section.contact-info p {
    margin: 5px 0;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
}

/* Media Queries per telefoni */
@media screen and (max-width: 540px) {
    .footer-content {
        padding: 10px;
    }

    .footer-section.contact-info h3 {
        font-size: 1.2em;
    }

    .footer-section.contact-info p {
        font-size: 0.9em;
    }

    .footer-bottom {
        font-size: 0.8em;
    }
}

/* Media Queries per tablet */
@media screen and (max-width: 980px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .footer-section.contact-info {
        text-align: center;
        margin-bottom: 20px;
    }

    .footer-bottom {
        text-align: center;
        padding-right: 0;
    }
}

/* Media Queries per schermi più grandi */
@media (min-width: 1200px) {
    .footer-content {
        flex-direction: row;
        align-items: flex-start;
        padding: 20px 50px;
    }

    .footer-section.contact-info {
        text-align: left;
        margin-bottom: 0;
    }

    .footer-bottom {
        text-align: right;
        padding-right: 0;
    }
}