/* Global Styles */
body{
    font-family: 'Open Sans', Arial, serif;
    background-color: #f5f5f5;
}

/* Header Styles */
.header-container {
    /*width: 100%;*/
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.header-container a {
    text-decoration: none;
    color: #333;
}

.logo {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo img {
    width: 130px;
}

.nav-menu {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-menu li {
    margin: 0 15px;
    position: relative;
}

.nav-menu li a {
    font-weight: bold;
    padding: 10px;
    text-transform: uppercase;
}

.nav-menu li a:hover {
    color: #555;
}

.nav-menu .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 1000;
    list-style: none;
    padding: 10px 0;
}

.nav-menu .submenu li {
    margin: 0;
}

.nav-menu .submenu li a {
    padding: 10px 20px;
    display: block;
    color: #333;
}

.nav-menu li:hover .submenu {
    display: block;
}

.search-bar {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar form {
    display: flex;
    width: 100%;
    max-width: 400px;
}

.search-bar input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.search-bar button {
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #333;
}

.icons {
    /*flex: 1;*/
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icons a {
    margin: 0 10px;
    color: #333;
    font-size: 18px;
    position: relative;
}

.numeroProdotti {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: #ff0000;
    color: white;
    border-radius: 50%;
    padding: 5px;
    font-size: 12px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}

/* Responsive Styles */
@media (max-width: 1199px) {
    .search-bar input[type="text"] {
        width: 150px;
    }

    .search-bar button {
        width: 40px;
    }
}

@media (max-width: 770px) {
    .header-container {
        flex-direction: column;
        /*align-items: flex-start;*/
        padding: 10px;
        justify-content: center;
        justify-items: center;
    }

    .logo, .nav-menu, .search-bar-container, .icons {
        width: 100%;
        justify-content: center;
    }

    .nav-menu {
        flex-direction: column;
        align-items: center;
    }

    .nav-menu li {
        margin: 10px 0;
    }

    .icons {
        justify-content: center;
        margin-top: 10px;
    }
}
