body{
    font-family: 'Open sans', Arial, serif;
    background-color: #f5f5f5;
}

/*.form-container{
    text-align: center;
    align-self: center;
}
*/

.header-container{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    text-align: center;
}

.Tavolando{
    color: green;
    text-align: center;
    align-items: center;
}
.carrello{
    /*position:relative;
    display: inline-block;*/
    position: relative;
    left: 3%;
    justify-content: right;
    text-align: right;
    margin-top: 1%;
}
.numeroProdotti {
    position: absolute;
    top: -2px;
    right:-2px;
    background-color: #0056b3;
    color: white;
    border-radius: 50%;
    padding: 5px;
    font-size: 12px;
    width: 12px;
    height: 12px;
    text-align: center;
    line-height: 12px;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    /*margin-bottom: 80px;*/
    background-color: #f2f2f2;
}

nav ul li{
    display: inline-block;
    position: relative;
}

nav ul li a{
    display: block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
}

nav ul li:hover > ul{
    display: block;
}

nav ul ul{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f2f2f2;
}

nav ul ul li{
    display: block;
}

nav ul ul li a{
    padding: 10px 30px;
    color: #333;
}

nav ul ul li a:hover{
    background-color: #add;
}

/*per la search bar*/
.barra-ricerca {
    position: absolute;
    top: 7%;
    left: 20px; /* Posiziona la barra di ricerca 20px dal bordo sinistro */
    margin-top: 0; /* Aggiunge un margine superiore di 10px per separare dalla cima */

}

.barra-ricerca form {
    display: flex; /* Permette di allineare gli elementi del form */
}

.barra-ricerca input[type="text"] {
    padding: 8px;
    width: 90px; /* Imposta la larghezza desiderata per il campo di ricerca */
    border-radius: 5px;
    border: 1px solid #ccc;
    justify-items: center;
    text-align: center;
}

.barra-ricerca input[type="submit"] {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50px;
    justify-items: center;
    text-align: center;
}

.barra-ricerca input[type="submit"]:hover {
    background-color: #45a049;
}

/* Media Queries per PC */
@media screen and (min-width: 1200px) {
    .header-container {
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 50px;
    }

    .Tavolando {
        font-size: 1.9em;
    }

    nav ul {
        flex-direction: row;
        justify-content: flex-end;
    }

    nav ul li {
        margin: 0 15px;
    }

    .barra-ricerca {
        order: 0;
        margin-top: 0;
        margin-right: 8%;
        justify-items: center;
        text-align: center;
    }

    .barra-ricerca input[type="text"] {
        width: 130px;
        justify-items: center;
        text-align: center;
    }

    .barra-ricerca input[type="submit"]{
        width: 70px;
        height: 40px;
        justify-items: center;
        text-align: center;
    }
}

/* Media Queries per tablet */
@media screen and (max-width: 1199px) and (min-width: 600px) {
    .header-container {
        padding: 20px;
    }

    .Tavolando {
        font-size: 1.3em;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 5px 0;
    }

    .barra-ricerca {
        order: 0;
        margin-top: 0;
        margin-right: 8%;
        justify-items: center;
        text-align: center;
    }

    .barra-ricerca input[type="text"] {
        width: 50%;
        justify-items: center;
        text-align: center;
    }

    .barra-ricerca input[type="submit"]{
        width: 50px;
        height: 30px;
        margin-right: 8%;
        justify-items: center;
        text-align: center;
    }

}

/* Media Queries per telefoni */
@media screen and (max-width: 599px) {
    .header-container {
        padding: 10px;
    }

    .Tavolando {
        font-size: 1.5em;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    .carrello {
        margin-top: 6%;
    }

    .numeroProdotti {
        font-size: 10px;
        width: 10px;
        height: 10px;
        line-height: 10px;
    }

    .barra-ricerca {
        order: 0;
        margin-top: 0;
        justify-items: center;
        text-align: center;
    }

    .barra-ricerca input[type="submit"]{
        width: 60px;
        height: 40px;
        justify-items: center;
        text-align: center;
        margin-right: 8%;
    }

    .barra-ricerca input[type="text"] {
        width: 60px;
        justify-items: center;
        text-align: center;
    }
}
