body {
    font-family: 'Open Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    position: relative;
}

header {
    position: relative;
    z-index: 4;
    /*background: #333;*/
    padding: 10px;
}

.header-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background: url('https://i.ebayimg.com/images/g/hU4AAOSwbY5dxuKI/s-l1600.jpg') no-repeat center center;
    background-size: cover;
    z-index: 1;
}

.main-content {
    position: relative;
    z-index: 2;
    padding-top: calc(100vh - 60px);
}

.section {
    padding: 20px;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    margin: 20px 0;
    border-radius: 10px;
    position: relative;
    z-index: 2;
}

.section h2 {
    color: white;
    margin-bottom: 20px;
}

.products-container {
    display: flex;
    overflow-x: auto;
    gap: 20%; /* Aumentato lo spazio tra i prodotti */
    padding: 10px;
    white-space: nowrap;
}

.product {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 10px;
    width: 200px;
    display: inline-block;
    transition: transform 0.2s;
    color: black;
}

.product img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.product p {
    color: #333;
    margin-top: 10px;
}

.product:hover {
    transform: scale(1.05);
}

.products-container::-webkit-scrollbar {
    display: none;
}
