/* Stili globali per il corpo della pagina */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

/* Stile per il contenitore principale */
.main-container {
    max-width: 100%;
    background-color: #fff;
    padding: 40px 20px 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}

/* Stili per le sezioni di sinistra e destra */
.left-section,
.right-section {
    flex: 1;
}

.vertical-line {
    width: 2px;
    background-color: #ccc;
    margin: 0 20px;
}

.button-container {
    padding-top: 20px;
}



/* Stili per i titoli delle sezioni */
.section {
    margin-bottom: 20px;
}

.section h2 {
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

/* Stili per i form di inserimento */
form {
    border-radius: 6px;
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form input[type="text"],
form input[type="number"],
form input[type="email"],
form textarea,
form select {
    width: calc(100% - 12px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

form input[type="reset"] {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form input[type="reset"]:hover {
    background-color: darkred;
}

form input[type="submit"],
form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form input[type="submit"]:hover,
form button:hover {
    background-color: #005859;
}

.error-message {
    display: none;
    color: #bb4561;
}

.hidden {
    display: none;
}

/*stile bottone proceed*/
.btn {
    border: none;
    font-family: inherit;
    font-size: 14px;
    cursor: pointer;
    padding: 10px 40px;
    display: inline-block;
    letter-spacing: 1px;
    outline: none;
    position: relative;
    overflow: hidden; /* Assicura che il contenuto fuori dal pulsante sia nascosto */
    transition: all 0.3s;
}
.btn-6 {
    position: relative;
    border-radius: 10px;
    background-color: #008080;
    color: white;
    transition: color 0.3s, border-color 0.3s;
}

.btn-6:active {
    color: #005859;
}

.btn-6::after {
    content: "\f0d1"; /* Unicode per fa-shopping-cart e fa-plus */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    top: 100%; /* Posiziona la freccia fuori dal pulsante */
    left: 50%;
    transform: translateX(-50%);
    line-height: 2;
    font-size: large;
    color: white;
    transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0; /* Nasconde la freccia inizialmente */
}

.btn-6:hover {
    color: transparent; /* Nasconde il testo durante l'hover */
}

.btn-6:hover::after {
    top: 0%; /* Porta la freccia al centro del pulsante */
    opacity: 1; /* Mostra la freccia durante l'hover */
}

.btn-6 span {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.btn-6:hover span {
    transform: translateY(-100%); /* Sposta il testo verso l'alto */
}

/* Stili per i bottoni di aggiunta e rimozione */
.add-button{
    background-color: #008080;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}
.remove-button {
    background-color: #bb4561;
}

.add-button{
    background-color: #008080;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

.remove-button {
    background-color: #bb4561;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

.add-button:hover {
    background-color: #005859;
}
.remove-button:hover {
    background-color: #a92142;
}

#remove-button {
    background-color: #bb4561;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

#remove-button :hover{
    background-color: #a92142;
}

.add-button:hover{
    background-color: #005859;
}

.remove-button:hover {
    background-color: #a92142;
}

.proceed-button {
    background-color: #008080;
}

.proceed-button:hover {
    background-color: #005859;
}

/* Stili per i messaggi di notifica */
.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #005859;
    color: white;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index: 1000;
}

/* Stili per le aree di testo */
.textarea {
    height: 100px;
}

/* Stili per la sezione riepilogo carrello */
.cart-drawer-toggle{
    /*nascondo il menu laterale */
    display: none;
}
.cart-drawer{
    display: none;
}
.cart-summary {
    display : block;
    padding: 15px;
    border-radius: 6px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.cart-item:last-child {
    border-bottom: none; /* Rimuove la linea di separazione dall'ultimo elemento */
}
.cart-item img {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.item-details {
    display: flex;
    flex-direction: column;
}

.check-out-form {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Aggiungi margine per separare dal riepilogo carrello */
}

/* Media query per layout responsive */
@media (min-width: 768px) {
    .main-container {
        flex-direction: row;
    }

    .cart-summary {
        flex: 1;
        margin-left: 20px;
    }

    .left-section,
    .right-section {
        margin-bottom: 0;
    }
}

/* Drawer styling for screens smaller than 850px */
@media (max-width: 850px) {
    .cart-summary {
        display: none;
    }

    .cart-drawer {
        display: block;
        position: fixed;
        right: -100%;
        top: 0;
        width: 300px;
        height: 100%;
        margin: 0px;
        padding: 20px;
        background-color: white;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
        transition: right 0.3s ease;
        overflow-y: auto;
        z-index: 1000;
    }

    .cart-drawer.open {
        display: block;
        right: 0;
    }

    .cart-drawer-toggle {
        position: fixed;
        top: 250px;
        right: 0px;
        background-color: #28180b;
        color: #ffefe5;
        border: none;
        border-top-left-radius: 10%;
        border-bottom-left-radius: 10%;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 1001;
    }
}