body {
	background-color: #f2f2f2;
	font-family: 'Open sans', Arial, serif;
}

.product-container {
	max-width: 1200px;
	margin: 20px auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Bottone di ritorno con animazione */
.btn {
	border: none;
	font-family: inherit;
	font-size: 14px;
	cursor: pointer;
	padding: 10px 40px;
	display: inline-block;
	letter-spacing: 1px;
	outline: none;
	position: relative;
	overflow: hidden; /* Assicura che il contenuto fuori dal pulsante sia nascosto */
	transition: all 0.3s;
}

.btn-4 {
	position: relative;
	border-radius: 30px;
	background-color: #008080;
	color: white;
	transition: color 0.3s, border-color 0.3s;
}

.btn-4:active {
	color: #005859;
}

.btn-4::after {
	content: '\2190'; /* Freccia sinistra */
	position: absolute;
	top: 100%; /* Posiziona la freccia fuori dal pulsante */
	left: 50%;
	transform: translateX(-50%);
	font-size: xx-large;
	color: white;
	transition: top 0.3s ease-in-out;
	opacity: 0; /* Nasconde la freccia inizialmente */
}

.btn-4:hover {
	color: transparent; /* Nasconde il testo durante l'hover */
}

.btn-4:hover::after {
	top: 0%; /* Porta la freccia al centro del pulsante */
	opacity: 1; /* Mostra la freccia durante l'hover */
}

.btn-4 span {
	display: inline-block;
	transition: transform 0.3s ease-in-out;
}

.btn-4:hover span {
	transform: translateY(-100%); /* Sposta il testo verso l'alto */
}

.product-content {
	display: flex;
	flex-direction: row;
	gap: 20px;
	position: relative;
}

.product-image img {
	max-width: 100%;
	max-height: 500px;
	object-fit: cover;
	border-radius: 10px;
}

.product-details {
	flex-grow: 1;
	min-width: 200px;
}

.product-details h1 {
	display: flex;
	align-items: center;
	gap: 10px;
}

.product-price {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex-shrink: 0;
}

.sconto-prezzo-container {
	display: flex;
	align-items: center;
	gap: 10px;
	flex-wrap: wrap;
}

.sconto-visible {
	background-color: red;
	color: white;
	padding: 5px;
	border-radius: 5px;
}

.prezzo-unitario {
	text-decoration: line-through;
	color: gray;
	white-space: nowrap;
}

.prezzo-scontato {
	color: red;
	font-size: 24px;
	white-space: nowrap;
}

.add-to-cart-button {
	margin-top: 10px;
	padding: 10px 15px;
	background-color: #4CAF50;
	color: #fff;
	border: none;
	border-radius: 5px;
	text-decoration: none;
	text-align: center;
	white-space: nowrap;
}

.add-to-cart-button:hover {
	background-color: #45a049;
}

.favorite {
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.favorite.added {
	filter: grayscale(0);
}

.favorite.not-added {
	filter: grayscale(100%);
}

.out-of-stock {
	filter: grayscale(100%);
	background-color: #ff8a80;
	position: relative;
}

.out-of-stock-message {
	display: inline-block;
	color: white;
	font-weight: bold;
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(255, 0, 0, 0.7);
	padding: 5px 10px;
	border-radius: 5px;
}

.out-of-stock-message img {
	vertical-align: middle;
	margin-right: 5px;
}

.product-info-table {
	margin-top: 20px;
}

.product-info-table table {
	width: 100%;
	border-collapse: collapse;
}

.product-info-table th,
.product-info-table td {
	text-align: left;
	padding: 8px;
	border-bottom: 1px solid #ddd;
}

@media (max-width: 768px) {
	.product-content {
		flex-direction: column;
		align-items: center;
	}

	.product-price {
		align-items: center;
		text-align: center;
	}

	.add-to-cart-button {
		width: 100%;
		text-align: center;
	}

	.btn {
		font-size: 12px;
		padding: 12px 30px;
	}
}

@media (max-width: 480px) {
	.product-details h1 {
		flex-direction: column;
		text-align: center;
	}

	.sconto-prezzo-container {
		flex-direction: column;
		align-items: center;
	}

	.product-details p {
		text-align: center;
	}

	.prezzo-unitario, .prezzo-scontato {
		display: inline-block;
	}
	.btn {
		font-size: 10px;
		padding: 10px 20px;
	}
	.btn-4::after {
		content: '\2190'; /* Freccia sinistra */
		position: absolute;
		top: 100%; /* Posiziona la freccia fuori dal pulsante */
		left: 50%;
		transform: translateX(-50%);
		font-size: xx-large;
		line-height: 0.8;
		color: white;
		transition: top 0.3s ease-in-out;
		opacity: 0; /* Nasconde la freccia inizialmente */
	}


}
