/* Product Detail Page Styles */
.product-container {
	width: 100%;
	max-width: 1200px;
	margin: 20px auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

.product-image {
	flex: 1;
	margin-right: 20px;
}

.product-image img {
	width: 100%;
	height: auto;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-details {
	flex: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.product-details h1 {
	color: #333;
	font-size: 2em;
	margin-bottom: 10px;
}

.product-details p {
	font-size: 1.2em;
	color: #666;
}

.product-price {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.product-price h2 {
	color: #4CAF49;
	font-size: 2em;
	margin-bottom: 20px;
}

.add-to-cart-button {
	text-decoration: none;
	color: #fff;
	background-color: #45a049;
	padding: 15px 30px;
	border-radius: 5px;
	font-size: 1.2em;
	transition: background-color 0.3s;
	display: inline-block;
}

.add-to-cart-button:hover {
	background-color: #45a050;
}

.return-button {
	text-decoration: none;
	color: #ffffff;
	padding: 10px 20px;
	background-color: #45a049;
	border: 1px solid #ccc;
	border-radius: 5px;
	display: inline-block;
	margin-top: 20px;
	transition: background-color 0.3s;
}

.return-button:hover {
	background-color: #45a050;
}

/* Responsive design */
@media (max-width: 600px) {
	.product-content {
		flex-direction: column;
		align-items: center;
	}

	.product-image {
		margin-right: 0;
		margin-bottom: 20px;
	}

	.product-details, .product-price {
		width: 100%;
	}

	.add-to-cart-button, .return-button {
		width: 100%;
		text-align: center;
	}
}
