body{
    font-family: 'Open sans', Arial, serif;
    background-color: #f5f5f5;
}

/*.form-container{
    text-align: center;
    align-self: center;
}
*/
.header-container{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    text-align: center;
}

.Tavolando{
    color: green;
    text-align: center;
    align-items: center;
}
.carrello{
    position:relative;
    display: inline-block;
}
.numeroProdotti {
    position: absolute;
    top: -2px;
    right:-2px;
    background-color: #0056b3;
    color: white;
    border-radius: 50%;
    padding: 5px;
    font-size: 12px;
    width: 12px;
    height: 12px;
    text-align: center;
    line-height: 12px;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    /*margin-bottom: 80px;*/
    background-color: #f2f2f2;
}

nav ul li{
    display: inline-block;
    position: relative;
}

nav ul li a{
    display: block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
}

nav ul li:hover > ul{
    display: block;
}

nav ul ul{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f2f2f2;
}

nav ul ul li{
    display: block;
}

nav ul ul li a{
    padding: 10px 30px;
    color: #333;
}

nav ul ul li a:hover{
    background-color: #add;
}

/*per la search bar*/
.barra-ricerca {
    position: absolute;
    top: 4%;
    left: 20px; /* Posiziona la barra di ricerca 20px dal bordo sinistro */
    margin-top: 0; /* Aggiunge un margine superiore di 10px per separare dalla cima */
}

.barra-ricerca form {
    display: flex; /* Permette di allineare gli elementi del form */
}

.barra-ricerca input[type="text"] {
    padding: 8px;
    width: 150px; /* Imposta la larghezza desiderata per il campo di ricerca */
    border-radius: 5px;
    border: 1px solid #ccc;
}

.barra-ricerca input[type="submit"] {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.barra-ricerca input[type="submit"]:hover {
    background-color: #45a049;
}

@media screen and (max-width: 1200px) {
.barra-ricerca {
    position: relative; /* Cambia la posizione in relativa quando la larghezza è inferiore a 768px */
    top: auto; /* Rimuove la posizione verticale impostata in modo assoluto */
    left: auto; /* Rimuove la posizione orizzontale impostata in modo assoluto */
    margin-top: 10px; /* Aggiunge un margine superiore per separare la barra di ricerca dagli altri elementi */
}
}