body{
    font-family: 'Open sans', Arial, serif;
    background-color: #f5f5f5;
}

.form-container{
    text-align: center;
    align-self: center;
}

.header-container{
    display: block;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
    text-align: center;
}

.Tavolando{
    color: black;
}

nav ul{
    list-style: none;
    padding: 0;
    margin-bottom: 80px;
    background-color: #f2f2f2;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    display: block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
}

nav ul li:hover > ul{
    display: block;
}

nav ul ul{
    display: none;
    position: absolute;
    background-color: #f2f2f2;
}

nav ul ul li{
    display: block;
}

nav ul ul li a{
    padding: 10px 30px;
    color: #333;
}

nav ul ul li a:hover{
    background-color: #add;
}
/*per la search bar*/
.search-box {
    position:absolute;
    top: 9%;
    left: 72%;
    transform:translate(10%, 20%);
    background:#2f3640;
    border-radius:40px;
   /* height:30px;
    padding:7px;*/
    box-shadow:0px 0px 10px 0px rgba(0,0,0,0.2);
}

.search-btn {
    border:none;
    background:crimson;
    border-radius:50%;
    float:right;
    display:flex;
    width:30px;
    height:30px;
    justify-content:center;
    align-items:center;
    outline:none;
    transition:0.6s;
    font-weight:bold;
    color:#FFFFFF;
    box-shadow:0px 0px 10px 0px crimson;
}

.search-txt {
    background:none;
    border:none;
    outline:none;
    float:left;
    padding:0px;
    font-size:16px;
    transition:0.6s;
    color:crimson;
    font-weight:bold;
    line-height:30px;
    width:0px;
}

.search-box:hover > .search-txt {
    width:240px;
    padding:0 6px;
}

.search-box:hover > .search-btn {
    background:crimson;
    color:#FFFFFF;
    box-shadow:0px 5px 20px 0px crimson;
}
